<div class="container">
    <h1>Register</h1>
    <form>
        <label for="email">Name</label>
        <input type="text" class="form-control" required>
        <label for="email">Email</label>
        <input type="text" class="form-control" required>
        <label for="password">Password</label>
        <input type="password" class="form-control" required>
        <label for="confirmPassword">Confirm password</label>
        <input type="password" class="form-control" required>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
    <a class="btn btn-default" routerLink="/login">Back</a>
</div>