<div class="container">
    <h1>Please log in</h1>
    <form>
        <label for="email">Email</label>
        <input type="text" class="form-control" required [(ngModel)]="model.email" name="email">
        <label for="password">Password</label>
        <input type="password" class="form-control" required required [(ngModel)]="model.password" name="password">
        <button type="submit" class="btn btn-default" (click)="login()">Log in</button>
    </form>
    <a class="btn btn-default" routerLink="/registration">Register</a>
</div>







